#header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: 1px solid black;
}
#header div{
    font-size: 20px;
    margin: 0;
    font-style: newfont;
  
}
#header div h1{
    margin: 0;
   
}
.E{
    padding: 0px 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #d19C97;
}
#inputbar{
    width: 440px;
    height: 35px;
    padding-left: 10px;
    font-size: medium;
    font-weight: 500;
    border-radius: none;
    color:#666;
    border: 1px solid #ddd;
    border-right: none;    
}
#inputbar:focus{
   outline: none;
}
#searchbutton{
    height: 38px;
    border-radius: 0;
    border: 1px solid #ddd;
    margin-left: -5px;
    font-weight: 500;
}
.likeitems{
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: white;
    min-width: 50px;
    text-align: center;
    color: #D19C97;
    margin-right: 5px;
}
.likeitems span{
    font-size: 16px;
    font-weight: 700;
    font-style: newfont;
}
